@model ForumListViewModel

    <!--"Forums" Title-->
    <div class="row">

        <div class="col" id="title">
            <h1 class="title-font">Forums</h1>
        </div>

    </div>

    <partial name="_ForumContainer" model="Model.Forums" />
