@{
    Console.WriteLine("LOCATION: Partial View in _GuestTeaser");
    ViewData["Title"] = "Guest Teaser";
}

<!--guest teaser (guest only)-->
<div class="row text-center margin-bt-40">
    <div class="col-12 guest-teaser-upper-box">
        <h5 class="bolder">Create an account or Sign in to leave a comment</h5>
        <p>Only members of the Beverage Goblins community can leave a comment</p>
    </div>

    <div class="guest-teaser-lower-box row">
        <div class="box-shadow-2 glow col-5 guest-teaser-inner-box border-round-bottom"
             id="signupbox">
            <h6 class="card-header">Create an account</h6>
            <p class="card-body">Sign up for a new account now!</p>

            <a asp-area="identity" asp-page="/account/register" class="card-body std-rnbw-btn">Sign up now</a>
        </div>
        <div class="box-shadow-2 col-5 guest-teaser-inner-box border-round-bottom" id="signinbox">
            <h6 class="card-header">Sign in</h6>
            <p class="card-body">Already have an account? Sign in here!</p>

            <a asp-area="identity" asp-page="/account/login" class="card-body std-purple-btn">Sign in here</a>
        </div>
    </div>

</div>
<!--end of guest teaser (guest only)-->