@model Thread

<form asp-controller="Thread" asp-action="Create" method="post">
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger m-2-5"></div>

        <h5 class="modal-subtitle m-2-5">Thread title:</h5>
        <div class="form-floating mb-2">
            <input asp-for="Name" class="form-control thread-form-control" aria-required="true" />
            <span asp-validation-for="Name" class="text-danger m-2-5"></span>
        </div>

        <h5 class="modal-subtitle m-2-5">Thread body:</h5>
        <div class="form-floating mb-2">
            <textarea asp-for="Description" class="form-control thread-form-control" rows="15"></textarea>
            <span asp-validation-for="Description" class="text-danger m-2-5"></span>
        </div>

        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
        <input type="hidden" asp-for="SubforumId" value="@Model.SubforumId" />

        <div class="d-flex">
            <button id="thread-submit" type="submit" class="mb-3 login-purple-btn m-2-5">
                Submit
            </button>
        </div>



    </div>
</form>