@model Subforum

<!--Subforum Title-->
<div class="row">
    <div class="col" id="title">
        <h1 class="title-font">@Model.Name</h1>
    </div>
</div>

<!--Start of Main Subforums Container-->
<section class="">
    <div class="subforum-container">

        <!--Subforum Banner-->
        <div class="border-round-top sub-banner row">

            <!--PAGINATION-->
            <nav aria-label="Page navigation" class="pagination-container col-10">
                <ul class="pagination margin-bt-0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Last" data-bs-toggle="tooltip"
                           title="Go to last page">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-2">
                <a href="" class="btn card-body new-thread-btn guest-disabled disabled" role="button"
                   aria-disabled="true" data-bs-toggle="tooltip" title="Make a new thread">
                    <i class="fa-solid fa-pen-to-square"></i>
                    New Thread
                </a>
            </div>

        </div>
        <!--End of Subforum Banner-->
        <!--Subforum Content-->
        <div>
            <!--THIS PART WILL BE IMPLEMENTED BY THE FRAMEWORK USING THE DATABASE INSTEAD OF MANUALLY-->
            <ul>
                <!--LEGEND-->
                <li>
                    <div class="row" id="subforum-header">
                        <div class="col-1 subforum-title-container hidden-mobile">
                            <p>
                                Status
                            </p>
                        </div>
                        <div class="col-9 col-md-7 subforum-title-container">
                            <p class="align-left">
                                Title
                            </p>
                        </div>
                        <div class="col-1 subforum-title-container hidden-mobile">
                            <p>
                                Replies
                            </p>
                        </div>
                        <div class="col-3 subforum-title-container">
                            <p>
                                Last Post
                            </p>
                        </div>
                    </div>
                </li>

                @{
                    var count = 0;
                    foreach (var thread in Model.Threads)
                    {
                        @await Html.PartialAsync("_ThreadList", thread);

                        count++;
                    }
                }

            </ul>
        </div>
        <!--End of Subforum Content-->
    </div>
</section>
<!--End of Subforums Container-->


<!--Go back to thread list-->
<div class="pager-container topic-listing-link">
    <a asp-action="container" asp-controller="forum" class="">
        <i class="fa-solid fa-chevron-left"></i> Go back to forum listing
    </a>
</div>

<!--Back to top button-->
<a href="" id="back-to-top-button" data-bs-toggle="tooltip" title="Back to top"></a>


