@model Subforum
<!--Subforum Title-->
<div class="row">
    <div class="col" id="title">
        <h1 class="title-font">@Model.Name</h1>
    </div>
</div>

<!--Start of Main Subforums Container-->
<section class="">
    <div class="subforum-container">

        <!--Subforum Banner-->
        <div class="border-round-top sub-banner row">

            <!--PAGINATION-->
            <nav aria-label="Page navigation" class="pagination-container col-10">
                <ul class="pagination margin-bt-0">
                    @{
                        var currentPage = 1;
                        var pageSize = 10;

                        double totalPages = 1;
                        // Find out how many pages we will need (10 topics per page)
                        if (Model.Threads.Count() > 0)
                        {
                            totalPages = Math.Ceiling((double)Model.Threads.Count() / 10);
                            Console.WriteLine(totalPages);
                        }
                        var lastPageIndex = 1;
                        // Add as many buttons as total pages are
                        for (var i = 1; i <= totalPages; i++)
                        {
                            <li class="mr-1 page-item @(i == currentPage ? "active" : "" )">
                                <a class="page-link" href="#tab-@i">@i</a>
                            </li>
                            lastPageIndex = i;

                        }
                        <li class="page-item">
                            <a class="page-link" role="button" href="#tab-@lastPageIndex" aria-label="Last" data-bs-toggle="tooltip"
                               title="Go to last page">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>

            @{
                if (User.Identity.IsAuthenticated)
                {
                    <div class="col-2">
                        <button type="button" class="btn card-body new-thread-btn guest-disabled" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-toggle="modal"
                                data-bs-target="#threadModal">
                            <i class="fa-solid fa-pen-to-square"></i>
                            New Topic
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-2">
                        <a href="" class="btn card-body new-thread-btn guest-disabled disabled" role="button"
                           aria-disabled="true" data-bs-toggle="tooltip" title="Make a new thread">
                            <i class="fa-solid fa-pen-to-square"></i>
                            New Thread
                        </a>
                    </div>
                }
            }
        </div>

        <!--End of Subforum Banner-->
        <!--Subforum Content-->
        <div>
            <!--THIS PART WILL BE IMPLEMENTED BY THE FRAMEWORK USING THE DATABASE INSTEAD OF MANUALLY-->
            <ul>
                <!--LEGEND-->
                <li>
                    <div class="row" id="subforum-header">
                        <div class="col-1 subforum-title-container hidden-mobile">
                            <p>
                                Status
                            </p>
                        </div>
                        <div class="col-9 col-md-7 subforum-title-container">
                            <p class="align-left">
                                Title
                            </p>
                        </div>
                        <div class="col-1 subforum-title-container hidden-mobile">
                            <p>
                                Replies
                            </p>
                        </div>
                        <div class="col-3 subforum-title-container" id="lastPost">
                            <p>
                                Last Post
                            </p>
                        </div>
                    </div>
                </li>

                @{
                    // Order the threads by last comment date
                    var orderedThreads = Model.Threads.OrderByDescending(aTopic =>
                        aTopic.Comments.Any() ? aTopic.Comments.Max(comment => comment.CreatedAt) : DateTime.MinValue).ToList();

                    var count = 1;
                    // Load the threads, 10 threads per page
                    <div class="tab-content">
                        @for (var i = 1; i <= totalPages; i++)
                        {
                            <div class="tab-pane @(i == 1 ? "active" : "")" id="tab-@i">
                                @for (var j = count; j <= currentPage * pageSize; j++)
                                {
                                    if (j <= orderedThreads.Count())
                                    {
                                        @await Html.PartialAsync("_ThreadList", orderedThreads[j - 1]);
                                        count++;
                                    }
                                    else break;
                                }
                                @{
                                    currentPage += 1;
                                }
                            </div>
                        }
                    </div>
                }
            </ul>
        </div>
        <!--End of Subforum Content-->
    </div>
</section>
<!--End of Subforums Container-->
<!--Go back to thread list-->
<div class="pager-container topic-listing-link">
    <a asp-action="container" asp-controller="forum" class="">
        <i class="fa-solid fa-chevron-left"></i> Go back to forum listing
    </a>
</div>

<!--Back to top button-->
<a href="" id="back-to-top-button" data-bs-toggle="tooltip" title="Back to top"></a>

<!-- New Thread Modal -->
<div class="modal fade" id="threadModal" tabindex="-1" aria-labelledby="threadModalLabel" aria-hidden="true" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 modal-font" id="threadModalLabel">Create a new topic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @{
                var newThread = new GeverageBoblins.Models.Thread();
                newThread.SubforumId = Model.SubforumId;
                newThread.IsAnnouncement = false;
                newThread.IsLocked = false;
                newThread.IsFeatured = false;
                newThread.IsPinned = false;
            }
            @await Html.PartialAsync("_NewThreadModal", newThread);

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
