@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model Thread
    <!--Subforum Title-->
<div class="row">
    <div class="col" id="title">
        <h1 class="title-font">@Model.ParentSubforum.Name</h1>
    </div>
</div>

<!--Start of Thread Container-->
<section class="">
    <div class="thread-container background-dark card row">

        <!--Thread title-->
        <div>
            <h2 class="thread-page-title">@Model.Name</h2>
        </div>

        @{
            foreach (var comment in Model.Comments)
            {
                @await Html.PartialAsync("_CommentList", comment);
            }
        }
        @{
            if (!User.Identity.IsAuthenticated)
            {

                var newComment = new Comment();
                newComment.Thread = Model;
                newComment.ThreadId = Model.ThreadId;
                newComment.UserId = 5;
                newComment.Title = Model.Name;

                @await Html.PartialAsync("_CommentBox", newComment);

            }
            else
            {
                <!--guest teaser (guest only)-->
                <section class="background-light card comment-container guest-only">

                    @await Html.PartialAsync("_GuestTeaser"); 
                    
                </section>
                <!--end of guest teaser (guest only)-->
            }
        }

    </div>
</section>
<!--End of Thread Container-->
<!--Go back to thread list-->
<div class="pager-container topic-listing-link">
    <a asp-action="container" asp-controller="subforum" asp-route-id="@Model.ParentSubforum.SubforumId">
        <i class="fa-solid fa-chevron-left"></i> Go back to topic listing
    </a>
</div>



<!--Back to top button-->
<a href="" id="back-to-top-button" data-bs-toggle="tooltip" title="Back to top"></a>
