@model Forum

<h2>Create New Forum</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="Name"></label><span class="text-danger">*</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Container" class="btn btn-secondary">Back</a>

</form>